@import 'colors';
a{
    text-decoration: none;

    transition: all 0.5s ease-in;
    &:hover{
        color: $genesis-blue;
    }
}

*{
    box-sizing: border-box;
}

@mixin area($w, $h){
    width: $w;
    height: $h;
}
@mixin flexdisplay($a, $b){
    display: flex;
    justify-content: $a;
    align-items: $b;
}

@mixin padmar(){
    margin: 0;
    padding: 0;
}

body,
html {
    @include area(100%, 100%);
    @include padmar();
}