@use 'clean-code';

footer{
    @include area(80%, 100px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .logo{
        grid-column: 1 / 5;
        display: flex;
        h3{
            padding: 0;
            margin: 0;
        }
        align-items: center;
    }

    .anchortags{
        grid-column: 5 / 7;
        ul{
            @include flexdisplay(space-evenly, center);
            list-style-type: none;
            @include padmar();
            height: 100%;
        }
    }

    .social-media{
        grid-column: 7 / 9;
        @include flexdisplay(space-evenly, center);
        list-style-type: none;
        @include padmar();
        height: 100%;
    }
}