@import 'colors';
@import 'main';
@import 'header';
@import 'footer';
@import 'clean-code';


.section-1 {
    display: grid;
    @include area(100%, 500px);
    grid-template: repeat(1, 1fr) / repeat(7, 1fr);
    


    &__box-1 {
        grid-column: 1 / 5;
        height: 50%;
        display: inherit;
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
        margin-right: 10px;

        h1 {
            font-size: 2.5em;
        }

        &__box-2 {
            grid-row: 2 / 5;
        }
    }

    &__box-2 {
        grid-column: 5 / 8;
        height: 100%;

        form {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            input {
                border: none;
                border-bottom: 1px solid black;
                height: 50px;
            }

            .button-container {
                display: flex;
                align-items: center;
                height: 50px;

                button {
                    @include area(100px, 100%);
                    border: none;
                    background-color: $genesis-blue;
                    color: #fff;
                }
            }

        }
    }
}

.section-2 {
    margin-top: 50px;
    @include area(100%, 100%);
    display: flex;
    justify-content: center;

    img {
        width: 100%;
    }

}