@import 'header';
@import 'footer';
@import 'colors';

* {
    box-sizing: border-box;
}

@mixin display($n) {
    display: $n;
}



a{
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
}


@import 'main';

.section-1 {
    height: 250px;
    width: 100%;
    @include display(grid);
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    margin-bottom: 100px;

    &__box-1 {
        grid-column: 1 / 3;
        @include display(inherit);
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);

        &__grid-box-1 {
            @include display(flex);
            align-items: flex-end;

            p {
                margin: 0;
                color: $genesis-blue;
            }
        }

        &__grid-box-2 {
            grid-row: 2 / 4;

            @include display(flex);
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 2em;
                margin: 0;
            }

            span {
                color: $genesis-blue;
            }
        }
    }

    &__box-2 {
        @include display(flex);
        align-items: flex-end;

        .mini-container {
            .line {
                width: 30px;
                height: 1px;
                background-color: #979797;
            }

            p {
                color: #979797;
                font-style: italic;
                margin-top: 0;
            }
        }
    }

}

.section-2 {
    margin: 0 auto;
    height: 1500px;
    @include display(grid);
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0;

    &__img-box-1 {
        grid-row: span 3;
    }

    &__img-box-2 {
        grid-row: span 2;
    }

    &__img-box-3 {
        grid-row: span 4;
    }

    &__img-box-4 {
        grid-row: span 3;
    }

    &__img-box-5 {
        grid-row: span 3;
    }

    &__img-box-6 {
        grid-row: span 3;
    }

    &__img-box-7 {
        grid-row: span 3;
    }

    &__img-box-8 {
        grid-row: span 4;
    }

    &__img-box-9 {
        grid-row: span 4;
    }

    &__img-box-10 {
        grid-row: span 6;
    }

    &__img-box-11 {
        grid-row: span 4;
    }

    &__img-box-12 {
        grid-row: span 3;
    }



    img {
        width: 100%;
        object-fit: auto;
        height: 100%;
    }
}

.section-3 {
    @include display(grid);
    width: 100%;
    height: 150px;
    grid-template: repeat(1, 1fr) / repeat(6, 1fr);

    &__box-1 {
        grid-column: 1 / 5;
        display: flex;
        align-items: center;
    }

    &__box-2 {
        @include display(flex);
        align-items: center;
        justify-content: center;

        ul {
            @include display(flex);
            flex-direction: column;
            justify-content: space-around;
            list-style-type: none;
            font-size: 14px;
            padding: 0;
            height: 50%;
        }
    }

    &__box-3 {
        @include display(flex);
        align-items: center;
        justify-content: center;

        ul {
            @include display(flex);
            flex-direction: column;
            justify-content: space-around;
            list-style-type: none;
            font-size: 14px;
            height: 50%;
        }
    }
}

.section-4 {
    @include display(grid);
    grid-template: repeat(1, 1fr) / repeat(15, 1fr);
    height: 250px;
    border-top: 1px solid black;

    &__box-1 {
        grid-column: 1 / 6;
    }

    &__box-2 {
        grid-column: 6 / 10;
        @include display(grid);
        grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    }

    &__box-3 {
        grid-column: 10 / 15;
        @include display(grid);
        grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    }

    &__box-4 {
        grid-column: 15 / 16;
        @include display(grid);
        grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    }
}

.section-5 {
    @include display(grid);
    grid-template: repeat(1, 1fr) / repeat(15, 1fr);
    height: 250px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    &__box-1 {
        grid-column: 1 / 6;
    }

    &__box-2 {
        grid-column: 6 / 10;
        @include display(grid);
        grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    }

    &__box-3 {
        grid-column: 10 / 15;
        @include display(grid);
        grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    }

    &__box-4 {
        grid-column: 15 / 16;
        @include display(grid);
        grid-template: repeat(2, 1fr) / repeat(1, 1fr);
    }
}

