@import 'header';
@import 'footer';
@import 'colors';
@import 'clean-code';
@import 'main';



@mixin display($n) {
    display: $n;
}








.section-1 {
    @include area(100%, 250px);
    @include display(grid);
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    margin-bottom: 100px;

    &__box-1 {
        grid-column: 1 / 3;
        display: inherit;
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);

        &__grid-box-1 {
            display: flex;
            align-items: flex-end;

            p {
                margin: 0;
                color: $genesis-blue;
            }
        }

        &__grid-box-2 {
            grid-row: 2 / 4;

            @include flexdisplay(center, center);

            h1 {
                font-size: 2em;
                margin: 0;
            }

            span {
                color: $genesis-blue;
            }
        }
    }

    &__box-2 {
        display: flex;
        align-items: flex-end;

        .mini-container {
            .line {
                @include area(30px, 1px);
                background-color: #979797;
            }

            p {
                color: #979797;
                font-style: italic;
                margin-top: 0;
            }
        }
    }

}

.section-2 {
    margin: 0 auto;
    height: 1500px;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    &__img-box-1 {
        grid-row: span 3;
    }

    &__img-box-2 {
        grid-row: span 2;
    }

    &__img-box-3 {
        grid-row: span 4;
    }

    &__img-box-4 {
        grid-row: span 3;
    }

    &__img-box-5 {
        grid-row: span 3;
    }

    &__img-box-6 {
        grid-row: span 3;
    }

    &__img-box-7 {
        grid-row: span 3;
    }

    &__img-box-8 {
        grid-row: span 4;
    }

    &__img-box-9 {
        grid-row: span 4;
    }

    &__img-box-10 {
        grid-row: span 6;
    }

    &__img-box-11 {
        grid-row: span 4;
    }

    &__img-box-12 {
        grid-row: span 3;
    }



    img {
        object-fit: auto;
        @include area(100%, 100%);
    }
}

.section-3 {
    display: grid;
    @include area(100%, 150px);
    grid-template: repeat(1, 1fr) / repeat(6, 1fr);

    &__box-1 {
        grid-column: 1 / 5;
        display: flex;
        align-items: center;
    }

    &__box-2 {
        @include flexdisplay(center, center);

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style-type: none;
            font-size: 14px;
            padding: 0;
            height: 50%;
        }
    }

    &__box-3 {
        @include flexdisplay(center, center);

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style-type: none;
            font-size: 14px;
            height: 50%;
        }
    }
}

.section-4 {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(15, 1fr);
    height: 250px;
    border-top: 1px solid black;

    &__box-1 {
        grid-column: 1 / 6;
    }

    &__box-2, &__box-3, &__box-4{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(1, 1fr)
    }

    &__box-2 {
        grid-column: 6 / 10;
    }

    &__box-3 {
        grid-column: 10 / 15;
    }

    &__box-4 {
        grid-column: 15 / 16;
    }
}

.section-5 {
    @include display(grid);
    grid-template: repeat(1, 1fr) / repeat(15, 1fr);
    height: 250px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    &__box-1 {
        grid-column: 1 / 6;
    }

    &__box-2, &__box-3, &__box-4{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(1, 1fr)
    }

    &__box-2 {
        grid-column: 6 / 10;
    }

    &__box-3 {
        grid-column: 10 / 15;
    }

    &__box-4 {
        grid-column: 15 / 16;
    }
}

